# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
jee/.metadata/.lock
jee/.metadata/.log
jee/.metadata/.log
jee/RemoteSystemsTempFiles/.project
jee/livraria-pacote.ear
jee/jpa-standalone/lib/mysql-connector-java-5.1.35-bin.jar
jee/jpa-standalone/bin/br/com/ae/loja/jpa/TestaDeCriacaoDeTabelas.class
*.class
*.classpath
*.project
jee/fj31-livraria/livraria-ejb3.jar
.settings/
.metadata/
jee/fj31-livraria-cliente/livraria-base.jar
jee/fj31-livraria/livraria-pacote.ear
jee/fj31-livraria/livraria-base.jar
jee/fj31-loja-client/build/classes/jboss-ejb-client.properties